.list-sortable {
    list-style: none;
    padding-left: 0;
}

.list-sortable li {
    padding: 10px 20px;
    background-color: rgb(71, 102, 143);
    color: #fff;
    margin-bottom: 10px;
}

.list-sortable li .order-number {
    margin-right: 10px;
}

.list-sortable li i.my-handle {
    margin-right: 10px;
}

.list-sortable li .sortable-tool i {
    margin-left: 10px;
}