#tintuc img {
    width: 100%;
}


/* breadcrumb */

.shop_breadcrumbs {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}

.shop_breadcrumbs a {
    color: #555 !important;
}

.shop_breadcrumbs a {
    text-decoration: none;
}

.post_single {
    padding-top: 25px;
    padding-bottom: 25px;
}

.show_posts .post_single {
    border-bottom: 1px solid #ddd;
}

.show_posts .post_single:first-child {
    padding-top: 0;
}

.show_posts .post_single:last-child {
    border-bottom: none !important;
}

.post_single .posted_at i {
    color: #ff0000;
}

.shop_breadcrumbs .active {
    color: #f1b614;
    font-weight: 500;
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
    border-radius: 15px;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.shop_breadcrumbs .breadcrumbs {
    min-height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.shop_breadcrumbs .breadcrumbs>li+li:before {
    content: '>';
    color: #555;
    padding: 0 10px;
}

.shop_breadcrumbs .breadcrumbs>li+li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
}

.shop_breadcrumbs i {
    padding-right: 8px;
    font-size: 16px;
}


/* post */

.post_single a {
    text-decoration: none;
}

.post_single h2 {
    font-size: 25px;
    color: #f1b614;
    text-transform: uppercase;
    line-height: 35px;
}

.post_single .posted_at {
    color: #999;
    font-size: 13px;
    font-style: italic;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.post_single .posted_at>li+li:before {
    content: '/';
    padding: 0 10px;
    opacity: 0.5;
}

.post_single .posted_at a {
    color: red;
    font-weight: 500;
    font-style: normal;
}

.post_single .posted_at a:hover {
    color: #f1b614;
}

.post_single .read_continue a {
    background-color: #f1b614;
    border: 1px solid #f1b614;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-style: italic;
    font-size: 13px;
    width: 35%;
    text-align: center
}

.post_single .cus_divider {
    border-bottom: 2px solid #F5F5F5;
    padding-top: 30px;
    margin-bottom: 30px;
}


/* sidebar */

.post_page_sidebar .widget_title h4 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.post_page_sidebar .widget_content {
    padding-bottom: 15px;
}

.post-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 40px !important;
    padding: 0;
    max-height: 75px;
}

.post_single .posted_at a {
    color: #999;
}

.category-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.category-menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.category-menu li a:hover {
    color: #f1b614;
}

.post-new-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px !important;
    padding: 0;
    height: 35px;
}

@media only screen and (max-width: 600px) {
    .post-title {
        max-height: 65px;
        line-height: 19px !important;
        font-size: 15px !important;
        min-height: 40px;
    }
    .post_single .posted_at {
        margin-bottom: 10px;
    }
}

.post_page_sidebar .post_single {
    padding-top: 5px;
    padding-bottom: 5px;
}

.post_page_sidebar .widget_content img {
    border-radius: 3px;
    min-width: 50px;
}

.post_page_sidebar .widget_content .product_text {
    padding-left: 10px;
}

.post_page_sidebar .widget_content .post_single h3 {
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
    line-height: 22px;
}

.post_page_sidebar .widget_content .post_single:hover h3 {
    color: #f1b614;
}

.post_page_sidebar .post_single .posted_at {}

.post_page_sidebar .post_single:last-child .posted_at {
    margin: 0;
}

@media (min-width: 1200px) {
    #tintuc .container {
        max-width: 1240px;
    }
}

@media (max-width: 768px) {
    #tintuc .container {
        max-width: 100%;
    }
    .post_single h2 {
        font-size: 20px;
        margin-top: 15px;
        line-height: 27px;
    }
}