/*footer p, footer a, footer span, footer div {
    color: white;
    font-size: 14px;
}*/

footer a:hover{
    color: #d3d3d3;
}

.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
    /*display: none;*/
}

.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
}
.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 100px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}
.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 15px;
    position: absolute;
    top: 15px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.suntory-alo-ph-img-circle {
    /* animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim; */
    border: 2px solid transparent;
    border-radius: 100%;
    height: 50px;
    left: 25px;
    opacity: 0.7;
    position: absolute;
    top: 25px;
    transform-origin: 50% 50% 0;
    width: 50px;
}
.suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
    border-color: #EB278D;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #bfebfc;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
    background-color: #EB278D;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
    background-color: #EB278D;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}
.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    color: #fff;
}

/*=================== End phone ring ===============*/
@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}


@media(max-width: 768px){
    .suntory-alo-phone{
        display: block;
    }

    html.mm-opened .suntory-alo-phone{
        display: none;
    }
}

#gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0,0,0,0.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}


footer {
    background: #f5f5f5;
    padding-top: 25px;
}

.col-footer {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#top_footer .col-footer {
    float: left;
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#top_footer  {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
}

.footer-title {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #c60b1e;
}

ul.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.footer-menu li {
    font-size: 14px;
    margin-bottom: 10px;
}

ul.footer-menu li a {
    color: #5d5d5d;
    text-decoration: none;
}

ul.footer-menu li a:hover {
    color: #000;
}

.footer-info {
    font-size: 14px;
}

.footer-info span:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 8px;
    background: url(https://hoctienghan.com/styles/website/images/icon.png) no-repeat 0 -32px;
}

.row .footer-info:nth-child(2) span:before {
    background-position: -50px -32px;
}

.row .footer-info:nth-child(3) span:before {
    background-position: -25px -32px;
}

.row .footer-info:nth-child(4) span:before {
    background-position: -75px -32px;
}

.footer-info span a {
    color: #5b5c5c;
}

.footer-info a {
    text-decoration: none;
    color: #000;
}

.copyright {
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
}

.copyright a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    color: #5d5d5d;
}

@media (max-width: 768px) {
    #top_footer {
        display: none;
    }

    .footer-info span:before {
        float: left;
        margin-right: 10px;
        margin-top: -3px;
    }

    .col-footer {
        width: 100%;
        text-align: left;
        margin: 0;
    }
    
    .copyright {
        font-size: 13px;
    }

    .copyright .chinhsach {
        display: none;
    }
}

@media (min-width: 768px) {
    footer .container {
        width: 1170px;
    }

}
