@media (max-width: 768px) {
    #demo img {
        height: 220px;
    }

    #des_search, #main_desktop #box_main_side {
        display: none;
    }
    
    #banner_bottom_search img {
        height: 150px;
    }
/* 
    #profile-tab, #contact-tab {
        display: none;
    } */

    .display_none_mobi {
        display: none;
    }
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .display_none_desktop {
        display: none;
    }
}

.btn_mo_tab_phu {
    position: fixed;
    top: 50%;
    height: 60px;
    z-index: 1;
    color: white;
}

#des_search {
    overflow: hidden;
    top: -100px;
    background: #fff;
    box-shadow: 0px 5px 5px #c8c8c8;
    padding: 15px 5px 10px 10px;
    margin-bottom: -60px;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    position: relative;
    width: 1240px;
}

#des_search select.form-control.tour_group {
    border-radius: 99px;
    font-size: 12px;
}

#des_search .btn {
    font-size: 12px;
}

.nav-link.active {
    margin-top: 0;
    background-color: #f1b614 !important;
    color: #fff !important;
    height: 44px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.nav-link {
    color: black;
    font-weight: 100;
}

ul#myTab {
    border-bottom: 3px solid #f1b512;
}

div#box_main_side {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.side_box_title {
    background-color: #f1b614;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    color: white;
}

.content_box_title {
    padding: 10px;
    font-size: 14px;
}

.bottom-left {
    position: absolute;
    bottom: 5%;
    padding: 0px 8px;
    color: white;
    font-size: 12px;
}

.box_blog_text {
    position: relative;
}

div#box_main_side img {
    border-radius: 5px;
}

.box_blog_img_left {
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.product_single_inner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.product_avt{
    border: 1px solid #cecece;
    padding: 2px;
    position: relative;
}

.amount{
    font-size: 13px;
    color: #888;
    margin-bottom: 8px;
    display: block;
}

.amount span{
    color: red;
    font-weight: bold;
}

.buy_now_btn a{
    align-items: center;
    height: 35px;
    background-color: #f1b614;
    color: #fff !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: 500;
    width: 100%;
    display: flex;
}

.buy_now_btn a:hover{
    background-color: #f9db17;
}

.buy_now_btn span{
    flex-grow: 1;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.buy_now_btn i{
    width: 36px;
    height: 36px;
    background: rgba(0,0,0,0.3);
    line-height: 35px;
    text-align: center;
}

.product_single_inner .sale_tag {
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: -6px;
    padding: 2px 20px;
    background-color: #FF0B0B;
    color: #FFF;
    z-index: 5;
    font-size: 16px;
}

.product_single_inner .sale_tag:before {
    content: '';
    display: block;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    position: absolute;
    right: 0;
    bottom: -8px;
}

.product_single_inner h3 {
    font-size: 14px;
    color: black;
}

.product_avt img {
    width: 100%;
    height: 150px;
}

#tab_content_1, #tab_content_2 {
    position: relative;
}

#btn_xem_them {
    position: absolute;
    top: 3%;
    right: 0%;
}

#form_lien_he p, #form_lien_he a, #form_lien_he label {
    font-size: 14px;
}

#header_main_mobi .offcanvas-body  {
    background-color: black;
}

#header_main_mobi .offcanvas-body a {
    color: white;
}

