@media (max-width: 768px) {
    #demo img {
        height: 220px;
    }
    /* #main_desktop #box_main_side {
        display: none;
    } */
    #banner_bottom_search img {
        height: 150px;
    }
    /* 
    #profile-tab, #contact-tab {
        display: none;
    } */
    .display_none_mobi {
        display: none;
    }
}

.skitter .info_slide {
    z-index: 1 !important;
}

a {
    text-decoration: none;
}

#box_tim_kiem {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .display_none_desktop {
        display: none;
    }
    #des_search {
        overflow: hidden;
        top: -100px;
        background: #fff;
        box-shadow: 0px 5px 5px #c8c8c8;
        margin-bottom: -60px;
        border-radius: 4px;
        background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
        position: relative;
        width: 1240px;
    }
}

.btn_mo_tab_phu {
    position: fixed;
    top: 50%;
    height: 60px;
    z-index: 1;
    color: white;
}

#search-head-title {
    margin-top: 0 !important;
}

#box-search {
    padding: 20px 10px;
}

#des_search select.form-control.tour_group {
    border-radius: 99px;
    font-size: 12px;
}

#des_search button[type=submit] {
    font-size: 12px;
}

.nav-link.active {
    margin-top: 0;
    background-color: #f1b614 !important;
    color: #fff !important;
}

.nav-link {
    color: black;
    font-weight: 100;
}

ul#myTab {
    border-bottom: 3px solid #f1b512;
}

div#box_main_side {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.side_box_title {
    background-color: #f1b614;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    color: white;
}

.content_box_title {
    padding: 10px;
    font-size: 14px;
}

.bottom-left {
    position: absolute;
    bottom: 5%;
    padding: 0px 8px;
    color: white;
    font-size: 12px;
}

.box_blog_text {
    position: relative;
}

div#box_main_side img {
    border-radius: 5px;
}

.box_blog_img_left {
    font-size: 12px;
    line-height: 15px;
    color: black;
}

#tab_content_1,
#tab_content_2 {
    position: relative;
}

#btn_xem_them {
    position: absolute;
    top: 3%;
    right: 0%;
}

#form_lien_he p,
#form_lien_he a,
#form_lien_he label {
    font-size: 14px;
}

#header_main_mobi .offcanvas-body {
    background-color: black;
}

#header_main_mobi .offcanvas-body a {
    color: white;
}

.image-wrapper {
    position: relative;
    padding-bottom: 36.5%;
}

.image-wrapper .skitter {
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.skitter,
.container_skitter {
    z-index: -1;
    width: 100%!important;
    max-width: 100% !important;
}

.box_skitter {
    width: 100%!important;
    height: 100%!important;
    max-width: 100% !important;
}

.box_skitter img {
    width: 100% !important;
    max-width: 100% !important;
}

.slick-slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-slider {
    position: relative;
}

@media (max-width: 767px) {
    .slick-slider {
        padding: 0px 10px;
    }
    .slick-slider .slick-arrow.slick-prev {
        left: 0 !important;
    }
    .slick-slider .slick-arrow.slick-next {
        right: 0 !important;
    }
}

.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -20px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 25px;
}

.slick-slider .slick-arrow.slick-prev {
    left: -15px;
    background: url("../images/left.png") 0 0 / 100% no-repeat;
    border-radius: 50px;
    background-size: cover;
    background-color: #ddd;
    border: 2px solid #ddd;
}

.slick-slider .slick-arrow.slick-next {
    right: -15px;
    background: url("../images/right.png") 0 0 / 100% no-repeat;
    border-radius: 50px;
    background-size: cover;
    background-color: #ddd;
    border: 2px solid #ddd;
}

.slick-slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slick-item {
    padding: 0px 15px;
}

.slick-item img {
    max-width: 100%;
}

.home-nav-tab>div.row>div.col-8 {
    overflow-x: scroll;
    padding-bottom: 0;
}

.home-nav-tab>div.row>div.col-4 {
    padding-bottom: 0;
}

.home-nav-tab>div.row>div.col-8::-webkit-scrollbar {
    width: 0px;
}

.home-nav-tab>div.row>div.col-8 ul.nav {
    flex-wrap: nowrap;
    border-bottom: none;
}

.home-nav-tab>div.row>div.col-8 ul.nav li.nav-item button {
    width: max-content;
    border-bottom: 1px solid #f1b512;
}