#loaitour a{
    color: #000;
    text-decoration: none;
}
#loaitour img{
    width: 100%;
}
#loaitour select{
    font-size: 12px;
    padding: 5px 10px;
    height: auto;
}
/* breadcrumb */
.shop_breadcrumbs{
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}
.shop_breadcrumbs a{
    color: #555 !important;
}
.shop_breadcrumbs .active {
    color: #f1b614;
    text-transform: uppercase;
    font-weight: 500;
}
.shop_breadcrumbs .breadcrumbs{
    min-height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.shop_breadcrumbs .breadcrumbs>li+li:before {
    content: '>';
    color: #555;
    padding: 0 10px;
}
.shop_breadcrumbs .breadcrumbs>li+li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
}
.shop_breadcrumbs i{
    padding-right: 8px;
    font-size: 16px;
}

/* sidebar */
.shop_sidebar .widget{
    margin-bottom: 15px;
}
.shop_sidebar .widget_title{
    padding-left: 10px;
    background-color: #f1b614;
    color: #fff;
}
.shop_sidebar .widget_title h4{
    font-size: 15px;
    line-height: 32px;
    height: 32px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.shop_sidebar .widget_content{
    padding: 10px;
    border: 1px solid #cecece;
    border-top: none;
}
.shop_sidebar .widget_content select{
    margin-bottom: 10px;
}
.shop_sidebar .widget_content .text-center button{
    background-color: #f1b614;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.shop_sidebar .widget_content .product_single{
    margin-bottom: 20px;
}
.shop_sidebar .widget_content .product_single:last-child{
    margin: 0;
}
.shop_sidebar .widget_content .product_single .row{
    margin-left: -5px;
    margin-right: -5px;
}
.shop_sidebar .widget_content .product_single .row>div{
    padding: 0 5px;
}
.shop_sidebar .widget_content .product_single h3{
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    margin: 0;
}
#loaitour .product_single .amount{
    font-size: 13px;
    color: #888;
}
#loaitour .product_single .amount span{
    color: red;
    font-weight: bold;
}
.shop_sidebar .widget_content .product_single img{
    border-radius: 3px;
}


/* nội dung tour */
    /* title và filter */
.noidungtour .title_and_serachform{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.noidungtour .title_and_serachform .search_filter{
    display: flex;
    align-items: center;
}
.noidungtour .title_and_serachform .search_filter span{
    white-space: nowrap;
    padding-right: 15px;
}
.noidungtour .title_and_serachform .search_filter select{
    max-width: 200px;
}
.noidungtour .cat_title h1{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}
.noidungtour .search_filter .row{
    align-items: center;
}
.noidungtour .search_filter span{
    font-size: 14px;
    text-align: right;
}
    /* pagination */
.noidungtour .page-item:not(.disabled) .page-link{
    color: #f9db17 !important;
}
.noidungtour .page-item.active .page-link {
    background-color: #f1b614;
    border-color: #f1b614;
    color: #fff !important;
}
.noidungtour .page-item:not(.disabled, .active):hover .page-link {
    background-color: #f1b715a3;
    color: #fff !important;
}
.noidungtour .page-item .page-link{
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
}


@media (min-width: 1200px){
    #loaitour .container {
        max-width: 1240px;
    }
}
