a {
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #f1b512;
}
/* breadcrumb */
.shop_breadcrumbs {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}

.shop_breadcrumbs a {
    color: #555 !important;
}

.shop_breadcrumbs .active {
    color: #f1b614;
    text-transform: uppercase;
    font-weight: 500;
}

.shop_breadcrumbs .breadcrumbs {
    min-height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.shop_breadcrumbs .breadcrumbs>li+li:before {
    content: '>';
    color: #555;
    padding: 0 10px;
}

.shop_breadcrumbs .breadcrumbs>li+li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
}

.shop_breadcrumbs i {
    padding-right: 8px;
    font-size: 16px;
}

/* pagination */
.page-item:not(.disabled) .page-link {
    color: #f9db17 !important;
}

.page-item.active .page-link {
    background-color: #f1b614;
    border-color: #f1b614;
    color: #fff !important;
}

.page-item:not(.disabled, .active):hover .page-link {
    background-color: #f1b715a3;
    color: #fff !important;
}

.page-item .page-link {
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
}

/* sidebar */
.sidebar_toggle_btn {
    position: fixed;
    left: 0px;
    top: 40%;
    font-size: 25px;
    background: #f1b614;
    color: #fff;
    padding: 25px 0;
    width: 25px;
    z-index: 9;
    text-align: center;
    display: none;
}

#sidebar_overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

#sidebar_overlay.show {
    opacity: 1;
    z-index: 50;
}

.hiddenOverflow {
    overflow: hidden;
}

.show_products {
    margin-left: -10px;
    margin-right: -10px;
}

.show_products .product_single {
    padding: 0 10px 30px;
}

.show_products .product_single .product_single_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.show_products .product_single .product_avt {
    position: relative;
    border: 1px solid #cecece;
    padding: 2px;
}

.show_products .product_single .sale_tag {
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: -6px;
    padding: 2px 20px;
    background-color: #FF0B0B;
    color: #FFF;
    z-index: 5;
    font-size: 16px;
}

.show_products .product_single .sale_tag:before {
    content: '';
    display: block;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    position: absolute;
    right: 0;
    bottom: -8px;
}

.show_products .product_single h3,
.shop_sidebar .widget_content .product_single h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.show_products .product_single h3 {
    min-height: 44px;
    font-size: 16px;
    line-height: 22.5px;
}

.show_products .product_single .amount {
    margin-bottom: 8px;
    display: block;
}

.show_products .product_single .buy_now_btn a {
    align-items: center;
    height: 35px;
    background-color: #f1b614;
    color: #fff !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    width: 100%;
    display: flex;
}

.show_products .product_single .buy_now_btn a:hover {
    background-color: #f9db17;
}

.show_products .product_single .buy_now_btn span {
    flex-grow: 1;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.show_products .product_single .buy_now_btn i {
    width: 36px;
    height: 36px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 35px;
    text-align: center;
}

.product_single .amount {
    font-size: 13px;
    color: #888;
}

.product_single .amount span {
    color: red;
    font-weight: bold;
}

.product_avt img {
    width: 100%;
}

.show_products .product_single h3,
.shop_sidebar .widget_content .product_single h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box_blog_img_left {
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.pagination {
    justify-content: center;
}
@media (min-width: 992px) {
    .display_none_desktop {
        display: none;
    }
}
@media (max-width: 992px) {

    /* shop sidebar */
    .shop_sidebar {
        top: 0;
        max-width: 270px;
        position: fixed;
        left: -500px;
        height: 100%;
        -webkit-transition: left .5s ease;
        -o-transition: left .5s ease;
        transition: left .5s ease;
        z-index: 60;
        background-color: #fff;
        padding-top: 15px;
        overflow-y: auto;
    }

    .shop_sidebar.show {
        left: 0;
    }

    .sidebar_toggle_btn {
        display: block;
    }
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #f1b512 #f1b512 #f1b512;
    color: #f1b512;
}

@media (max-width: 768px) {
    .display_none_mobile {
        display: none;
    }

    #loaitour .container {
        max-width: 100%;
    }

    /* title và filter */
    .noidungtour .title_and_serachform .search_filter {
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }
    .dropdown-item.active{
        color: currentColor;
        background-color: transparent;
    }
}